@page "/signin"

<h3>SignIn</h3>
@*<EditForm Model="Person" OnValidSubmit="AddPerson">
<DataAnnotationsValidator />
<ValidationSummary />

<div class="form-group">

<label for="Name">Name:</label>
<InputText @bind-Value="Person.Name" placeholder="Name" id="Name" />
<ValidationMessage For="() => Person.Name"></ValidationMessage>

<label for="Email">Email:</label>
<InputText type="email" @bind-Value="Person.Email" placeholder="Email" id="Email"></InputText>
<ValidationMessage For="() => Person.Email"></ValidationMessage>


<input type="submit" class="btn btn-outline-dark" value="Sign up" />

</div>

</EditForm>*@

@code {

}
